<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-university"></i> Διαχείριση Εταιριών</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="top-buffer"></div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Α/Α</th>
                  <th>
                    <a href="#" {{action 'sortBy' 'name'}}>
                      Όνομα
                    </a>

                  </th>
                  <th>
                    <a href="#" {{action 'sortBy' 'afm'}}>
                      Α.Φ.Μ.
                    </a>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th>{{input type="text" class="form-control" value=name action="search" placeholder="Όνομα"}}</th>
                  <th>{{input type="text" class="form-control" value=afm action="search"
                    placeholder="Α.Φ.Μ."}}</th>
                </tr>
              </thead>
              
              
              <tbody>
                {{#each organization in content}}
                  <tr>
                    <td>{{organization.id}}</td>
                    <td>{{#link-to 'organization.edit' organization.id}} {{organization.name}} {{/link-to}}</td>
                    <td>{{organization.afm}}</td>
                  </tr>
                {{/each}}
              </tbody>

              <tfoot> 
                {{page-numbers content=content}}
              </tfoot>
            </table>
            <div class="well">
              {{#link-to 'organizations.new' class="btn btn-primary"}}Νέα Εταιρία{{/link-to}}
              {{#link-to 'protected.dashboard' class="btn btn-danger"}}Kεντρικό μενού{{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
