<div class="panel panel-default">
  <div class="panel-body">
   <form class="form-horizontal">
          
      <div class="form-group">
        <label for="first_name" class="col-sm-4">Όνομα</label>
        <div class="col-sm-8">
          {{input value=first_name class="form-control"}}
        </div>
        <div class="col-sm-12">
          {{#if errors.first_name.firstObject}}
          <div class="text-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{errors.first_name.firstObject}}</div>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="last_name" class="col-sm-4">Επώνυνμο</label>
        <div class="col-sm-8">
          {{input value=last_name class="form-control"}}
        </div>
        <div class="col-sm-12">
          {{#if errors.last_name.firstObject}}
          <div class="text-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{errors.last_name.firstObject}}</div>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-4">Κωδικός</label>
        <div class="col-sm-8">
          {{input value=password class="form-control"}}
        </div>
        <div class="col-sm-12">
          {{#if errors.passwordfirstObject}}
          <div class="text-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{errors.password.firstObject}}</div>
          {{/if}}
        </div>
      </div>
      
      <div class="form-group">
        <label for="afm" class="col-sm-4">ΑΦΜ</label>
        <div class="col-sm-8">
          {{input value=afm class="form-control"}}
        </div>
        <div class="col-sm-12">
          {{#if errors.afm.firstObject}}
          <div class="text-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{errors.afm.firstObject}}</div>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-4">Email</label>
        <div class="col-sm-8">
          {{input value=email class="form-control"}}
        </div>
        <div class="col-sm-12">
          {{#if errors.email.firstObject}}
          <div class="text-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{errors.email.firstObject}}</div>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="col-sm-4">Τηλέφωνο</label>
        <div class="col-sm-8">
          {{input value=phone class="form-control"}}
        </div>
        <div class="col-sm-12">
          {{#if errors.phone.firstObject}}
          <div class="text-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> {{errors.phone.firstObject}}</div>
          {{/if}}
        </div>
      </div>


      <div class="well">
        <button type="submit" class="btn btn-primary" {{action 'create'}}><i class="fa fa-save"></i> Αποθήκευση</button>
        {{#link-to 'organizations.index' class="btn btn-default"}}<i class="fa fa-rotate-left"></i> Επιστροφή{{/link-to}}
      </div>
    </form>
  </div>
</div>